<h4 class="text-center">Login</h4>

<form class="form mt-4" [formGroup]='loginForm' (submit)="login()">
    <div class="form-group">
        <!-- formControlName - diretiva do reactiveForms -->
        <input #userNameInput
            formControlName='userName'
            class="form-control" 
            placeholder="user name" 
            autofocus>  

        <ap-validation-message
            *ngIf="loginForm.get('userName').errors?.required"
            text="User name is required!">
        </ap-validation-message> 
    </div>

    <div class="form-group">
        <input
            formControlName='password'
            type="password" 
            class="form-control" 
            placeholder="password">  

        <ap-validation-message
            *ngIf="loginForm.get('password').errors?.required"
            text="Password is required!">
        </ap-validation-message>         
    </div>

    <button 
        [disabled]="loginForm.invalid"
        type="submit" 
        class="btn btn-primary btn-block">
        login
    </button>

</form>

<p>Not a user?<a [routerLink]="['signup']">Register now</a></p>